<div style="display: flex; flex-direction: column; height: 100vh;">
  <div>
    <h1>Chats</h1>
  </div>

  <div style="flex: 1; overflow-y: auto;">
    <%= turbo_stream_from "chats" %>
    <div id="chats">
      <%= render @chats %>
    </div>
  </div>

  <%= render "form" %>
</div>