<div style="display: flex; flex-direction: column; height: 100vh; justify-content: space-between">
  <div>
    <h1>Chats</h1>
    <div>
      <%= turbo_stream_from "chats" %>
      <div id="chats">
        <%= render @chats %>
      </div>
    </div>
  </div>
  <%= render "form" %>
</div>